html, body { 
	height: 100%;
}

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
}

.pt-page {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	min-width: 1024px;
	min-height: 640px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.pt-page-current {
	visibility: visible;
	z-index: 1;
}

.pt-page-1 {
	background: url(../pic/bgimg1.jpg);
	background-size: 100% 100%;
}
#page1_up {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 50%;
}

#page1_down {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 50%;
}

#up_edge {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 0;
}

#down_edge {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 0;
}

#logo_blue, #logo_tran {
	position: relative;
	z-index: 10;
	height: 30%;
	top: 33%;
	left: 2%;
}

#logo_tran {
	display: none;
}

.pt-page-2 {
	background: url(../pic/bgimg1.jpg);
	background-size: 100% 100%;
}

#logo_h {
	width: 100%;
	height: 58%;
	position: absolute;
	top: 22%;
	left: 0;
	z-index: 1;
}

#logo_v {
	height: 44%;
	display: none;
	position: relative;
	top: 28%;
	left: 1%;
	z-index: 10;
}

.pt-page-3 {
	background: url(../pic/bgimg3.jpg);
	background-size: 100% 100%;
}

.items3 {
	width: 13px;
	position: absolute;
	margin-top: 18px;
}

#img31 {
	left: 35%;
}

#img32 {
	left: 42%;
}

#img33 {
	left: 49%;
}

#img34 {
	left: 56%;
}

#img35 {
	left: 63%;
}

.lines {
	position: absolute;
	top: 18px;
	width: 2px;
	height: 19%;
	display: none;
}

#line31 {
	left: 34%;
}

#line32 {
	left: 41%;
}

#line33 {
	left: 48%;
}

#line34 {
	left: 55%;
}

#line35 {
	left: 62%;
}

#blue_h3 {
	width: 100%;
	height: 55%;
	position: absolute;
	top: 24%;
	display: block;
	z-index: 1;
}

.photos3 {
	position: absolute;
	display: none;
	height: 55%;
	top: 24%;
	width: 50%;
	left: 25%;
	z-index:10;
}

#line_page3 {
	position: absolute;
	left: 0;
	top: 81%;
	width: 60%;
}

#address {
	position: absolute;
	height: 9%;
	left: 4%;
	top: 83%
}

.pt-page-4 {	
	background: url(../pic/bgimg4.jpg);
	background-size: 100% 100%;
}

.items4 {
	width: 18px;
	position: absolute;
	margin-top: 30px;
}

#img41 {
	left: 42%;
}

#img42 {
	left: 56%;
}

#line41 {
	left: 41%;
}

#line42 {
	left: 55%;
}

#white_h4 {
	width: 100%;
	height: 52%;
	position: absolute;
	top: 24%;
	display: block;
	z-index: 1;
}

.photos4 {
	position: absolute;
	display: none;
	height: 30%;
	top: 35%;
	left: 27%;
	z-index:10;
}

.pt-page-5 {
	background: url(../pic/bgimg3.jpg);
	background-size: 100% 100%;
}

.items5 {
	width: 18px;
	position: absolute;
	margin-top: 30px;
}

#img51 {
	left: 36%;
}

#img52 {
	left: 43%;
}

#img53 {
	left: 50%;
}

#img54 {
	left: 57%;
}

#img55 {
	left: 64%;
}

#line51 {
	left: 35%;
}

#line52 {
	left: 42%;
}

#line53 {
	left: 49%;
}

#line54 {
	left: 56%;
}

#line55 {
	left: 63%;
}

#blue_h5 {
	width: 100%;
	height: 52%;
	position: absolute;
	top: 24%;
	display: block;
	z-index: 1;
}

.photos5 {
	position: absolute;
	display: none;
	height: 30%;
	top: 35%;
	left: 27%;
	z-index:10;
}

#download {
	position: absolute;
	top: 70%;
	left: 46%;
	height: 20px;
	z-index: 20;
	display: none;
}

#download:hover {
	-moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.pt-page-6 {
	background: url(../pic/bgimg4.jpg);
	background-size: 100% 100%;
}

#white_page6 {
	width: 100%;
	height: 52%;
	position: absolute;
	top: 24%;
	display: block;
	z-index: 1;
}

#center_cycle {
	position: relative;
	height: 40%;
	top: 33%;
	z-index: 10;
}

#clouds {
	position: absolute;
	height: 28%;
	top: 7%;
	left: 23%;
	z-index: 11;
}

#shuxiang {
	position: absolute;
	height: 30%;
	top: 35%;
	left: 41%;
}

.previous {
	width: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
	opacity: 0.4;
	top: 49%;
	left: 8%;
}

.next {
	width: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
	opacity: 0.4;
	top: 50%;
	right: 8%;
}

#next1, #previous1 {
	display: none;
	opacity: 0;
}

#logo2,#logo3,#logo4,#logo5,#logo6{
	width: 100px;
	position:absolute;
	top: 20px;
	right: 20px; 
}
#logo_newbee {
	width: 100px;
	position:absolute;
	top: 20px;
	left: 20px; 
}

.center_pic {
	position: relative;
	height: 30%;
	top: 35%;
}
.erweima {
	height: 18%;
	position: absolute;
	bottom: 4%;
	left: 45%;
}
#erweima_xc{
	height: 18%;
	position: absolute;
	bottom: 4%;
	left: 38%;
}
#erweima_nb{
	height: 18%;
	position: absolute;
	bottom: 4%;
	right: 38%;
}