 <!doctype html>
 <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
        <link type="text/css" rel="stylesheet" href="{{url_for("static",filename="./nav.css")}}" />
        <link type="text/css" rel="stylesheet" href="{{url_for("static",filename="../static/nav_menu/css/jquery.mmenu.all.css")}}" />
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Comment</title>
</head>
<body>
    <h1>Number of comments:{{number}}</h1>
    
     
	      <h1>comment:</h1>
		  
	  	  {% for comment in comments %}
		  <pre><p>{{comment.text}}</p></pre>
		  {% endfor %}
		  
	  <form action="" method=post enctype=multipart/form-data>
      <p>
          <h1>input comment:
          <textarea wrap='hard' name=text> </textarea>
          </h1> 
          <br/>
          <br/>
         <input type=submit value=OK>
	   </p>
    </form>
</body>	
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
