

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="www.frebsite.nl" />
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

        <title>xichao - Demo</title>

        <link type="text/css" rel="stylesheet" href="{{url_for("static",filename="./nav.css")}}" />
        <link type="text/css" rel="stylesheet" href="{{url_for("static",filename="../static/nav_menu/css/jquery.mmenu.all.css")}}" />

<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <style type="text/css">
            .content
            {
                padding-top: 0;
            }
            #intro,
            #first,
            #second,
            #third
            {
                height: 350px;
                padding-top: 190px;
            }
            #first,
            #second,
            #third
            {
                border-top: 1px solid #ccc;
            }

           

            .mm-panel{
                width: 100px;    
            }
            .mm-list{
                font-size: 20px;
            }
            




        </style>

<script type="text/javascript">
    $(document).ready(function(){
        var range = 50;             //距下边界长度/单位px
        var elemt = 500;           //插入元素高度/单位px
        var maxnum = 20;            //设置加载最多次数
        var num = 0;
        var totalheight = 0; 
        var main = $("#content");                     //主体元素
        var all_path="{{all_path}}".split(",");
        var all_desc="{{all_desc}}".split(",");
        maxnum=all_path.length;
        $(window).scroll(function(){
            var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
            
            // console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());
            // console.log("页面的文档高度 ："+$(document).height());
            // console.log('浏览器的高度：'+$(window).height());
            // console.log(maxnum);
            // console.log(all_path[1])
            
            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
            if(($(document).height()-range) <= totalheight  && num != maxnum) {
                $("#third").append("<div class=\"col-sm-6 col-md-3\"><div class=\"thumbnail\"><img src=\""+all_path[num]+"\"alt=\"通用的占位符缩略图\"></div><div class=\"caption\"><h3>缩略图标签</h3><p>"+all_desc[num]+"</p><p><a href=\"#\" class=\"btn btn-primary\" role=\"button\">按钮</a><a href=\"#\" class=\"btn btn-default\" role=\"button\">按钮</a></p></div></div>");
                num++;
            }
        });
    });

  $(document).ready(function() {
            $("#menu").mmenu({
               "classes": "mm-slide mm-light",
               "footer": {
                  "add": true
               },
               "header": true,
               "searchfield": {
                  "addTo": "panels",
                  "add": true,
                  "search": true
               }
            });
         });

    </script>




        <script type="text/javascript" src="../static/jquery.js"></script>
        <script type="text/javascript" src="../static/nav_menu/js/jquery.mmenu.min.all.js"></script>
        <script type="text/javascript">
            $(function() {
                var $menu = $('nav#menu'),
                    $html = $('html, body');

                $menu
                    .mmenu()
                    .find( 'a' )
                    .on( 'click',
                        function()
                        {
                            var href = $(this).attr( 'href' );
                            $menu.one(
                                'closed.mm',
                                function()
                                {
                                    setTimeout(
                                        function()
                                        {
                                            $html.animate({
                                                scrollTop: $( href ).offset().top
                                            }); 
                                        }, 10
                                    );  
                                }
                            );
                        }
                    )
                    .end()
                    .find( 'li' )
                    .first()
                    .trigger( 'setSelected' );
            });
        </script>
    </head>
    <body>
        <div id="page">
            <div class="header FixedTop">
                <a href="#menu"></a>
                Demo
            </div>
            <div class="content">
                <div id="intro">                    
                    <p><strong>This is a demo.</strong><br />
                        Click the menu icon to open the menu.</p>
                    
                    <p>The links in the menu link to a section on the same page, some small javascript makes the page scroll smoothly.</p>
                </div>
                <div id="first">
                    <p><strong>This is the first section.</strong><br />
                        Notice how the fixed header and footer slide out along with the page.</p>

                    <p><a href="#menu">Open the menu.</a></p>
                </div>
                <div id="second">
                    <p><strong>This is the second section.</strong><br />
                        <a href="#menu">Open the menu.</a></p>
                </div>
                <div id="third">
                   <div class="row">
                       
                      
                    
                    </div>
                </div>
            </div>


        </div>



        




        <!-- The menu -->
      <nav id="menu">
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a>
               <ul>
                  <li><a href="/about/history">History</a></li>
                  <li><a href="/about/team">The team</a></li>
                  <li><a href="/about/address">Our address</a></li>
               </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
         </ul>
      </nav>


<!-- －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－  －－－－ -->






    </body>
</html>
