 <!doctype html>
    <title>Upload data</title>

    <h1>max id:"{{maxtid}}"</h1>
    <h1>Upload image</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=image>
          <br/>
          <h1>title:
          <input type=textarea name=title>  
          </h1>
          <br/>
          <h1>description:
          <input type=textarea name=description>  
          </h1>
          <br/>
          <h1>text:
          <input type=textarea name=text> 
          </h1> 
          <br/>
          <br/>
         <input type=submit value=Upload>
    </form>
    