hr{
	width: 80%;
	height:1px;
	background-color:black;
}

.footer-body{
	height:20px;
	font-weight: bold;
	padding-left:10px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 10px;
	
}

#footer_item1{
	position:absolute;
	margin-left:210px;
}


#footer_item2{
	position:absolute;
	margin-left:360px;
}

#footer_item3{
	position:absolute;
	margin-left:500px;
}

#footer_item4{
	position:absolute;
	margin-left:650px;
}

a:link {
	text-decoration:none;
	color:#000000;
}

a:visited {
	text-decoration:none;
	color:#000000;
}

#copyright{
    font-family:The founder of small standard song simplified;
    font-size:8pt;
    font-weight:bold;
    text-align:center;
    padding-top:5px;
    
}