#conception{
    margin-left:auto;
    margin-right: auto;

    width: 82%;
    font-family: '宋体','Microsoft Yahei', '微软雅黑';
}

#navigation{
    margin-top: 35px;
    font-size: 20px; 
}

#title{
    margin-left: 326px;
    font-size: 40px;
    font-weight: bold;
}

#image1{
    margin-top: 30px;
    font-size: 30px;
}

#image2{
    margin-top: 190px;
    font-size: 30px;
}