@font-face { 
    font-family: xichaosong;
    src: url('../Font/xichaosong.eot'); /* IE9 Compat Modes */ 
    src: url('../Font/xichaosong.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
      url('../Font/xichaosong.woff') format('woff'), /* Modern Browsers */ 
      url('../Font/xichaosong.ttf')  format('truetype'), /* Safari, Android, iOS */ 
      url('../Font/xichaosong.svg') format('svg'); /* Chrome, Legacy iOS */ 
} 


body{
	background-color: #FFFFCC;
	font-family: xichaosong;
	margin: 0px;
}

.container{
	display:block;
	width: 960px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: white;
}

.main_page{
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}

.main_page_new{
	width:787px;
	margin-left: auto;
	margin-right: auto;
	background-color: #CBE8EF;
}

.head{
	height:85px;
	padding-left:10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
}

a:link {
	text-decoration:none;
	color:#000000;
}

a:visited {
	text-decoration:none;
	color:#000000;
}


hr.up{
	width: 82%;
	height:3.7px;
	background-color:black;
}

hr.down{
	width: 82%;
	height:1.9px;
	background-color:black;
	margin-top: 37px;
	
}

.login{
	font-size: 14pt;
	float:left;
	margin-top: 90px;
	margin-left: 85px;
	display: inline;
}

.register{
	font-size: 14pt;
	float:left;
	margin-top: 90px;
	margin-left: 40px;
	display: inline;
}

.logo{
	position:absolute;
	display: inline;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left:565px;
}

.nav_row{
	height: 40px;
	font-size: 15pt;
	margin-top: 10px;
	margin-left:auto;
	margin-right: auto;
}

#header_item0{
	position:absolute;
	margin-left:92px;
}

#header_item1{
	position:absolute;
	margin-left:216px;
	
}

#header_item2{
	position:absolute;
	margin-left:380px;
	
}

#header_item3{
	position:absolute;
	margin-left:524px;
}

#header_item4{
	position:absolute;
	margin-left:668px;
}

#header_item5{
	position:absolute;
	margin-left:812px;
}
