#home_bookstore{
    margin-left:auto;
    margin-right: auto;
    width: 82%;
}

#home_bookstore_little_title{
    position: absolute;
    font-size: 19pt;
    margin-left: 10px; 
    margin-top: 45px;     
}

#home_bookstore_title{
    font-size: 35px;
    text-align: center;
    margin-top: 50px; 
}

#home_bookstore_header{
    height: 108px;
/*    border-bottom: 2px solid #000;*/
}

#home_bookstore_header_down{
 	width: 82%;
	height:1.9px;
	background-color:black;
	margin-top: -20px;
}

#home_bookstore_body{
    margin-top: 80px;
    margin-bottom: 140px;
}

#home_bookstore_body_block2{
    position: relative;
    left: 40px;
    top: -138px;
}

#home_bookstore_body_block3{
    position: relative;
    top: -65px;
}

#home_bookstore_body_block4{
    position: relative;
    left: 67px;
    top: -70px;
}
