#MemberDiscount{
    margin-left:auto;
    margin-right: auto;
    width: 82%;
}

#MemberDiscount_little_title{
    /*position: absolute;*/
    font-size: 19pt;
    margin-left: 10px; 
    margin-top: 45px;  
}

#MemberDiscount_big_title {
    /*position: relative;*/
    color: #6699ff;
    margin-bottom: 20px;
    margin-left: 10px;
}

#MemberDiscount_title{
    font-size: 35px;
    text-align: center;
    /*margin-top: 10px;*/
}

#MemberDiscount_header{
    height: 108px;
/*    border-bottom: 2px solid #000;*/
}

#MemberDiscount_header_down{
 	width: 82%;
	height:1.9px;
	background-color:black;
	margin-top: -20px;
}

#MemberDiscount_body{
    margin-top: 80px;
    margin-bottom: 140px;
}

#MemberDiscount_top_content{
    margin-top:100px;
    margin-left: 42px;
    font-size: 21px;
}

#MemberDiscount_mid_img {
    text-align: center;
}

#MemberDiscount_sub_topic {
    position: relative;
    z-index: 1;
    font-size: 28px;
    margin-left: 50px;
    margin-top: 20px;
    letter-spacing: 4px;
}

#MemberDiscount_sub_topic:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:88px;
    left:140px;
    width: 260px;
    height: 260px;
    background-image: url("../Images/MemberDiscount_cat.png");
}


