#SpringSteward{
    margin-left:auto;
    margin-right: auto;
    width: 82%;
}

#SpringSteward_little_title{
    /*position: absolute;*/
    font-size: 19pt;
    margin-left: 10px; 
    margin-top: 45px;    
}

#SpringSteward_big_title {
    color: #6699ff;
    margin-bottom: 20px;
    margin-left: 10px;
}

#SpringSteward_title{
    font-size: 35px;
    text-align: center;
}

#SpringSteward_header{
    height: 108px;
/*    border-bottom: 2px solid #000;*/
}

#SpringSteward_header_down{
    width: 82%;
    height:1.9px;
    background-color:black;
    margin-top: -20px;
    margin-left: 40px;
}

#SpringSteward_body{
    margin-top: 80px;
    margin-bottom: 140px;
}

#SpringSteward_top_content{
    margin-top:105px;
    margin-left: 10px;
    font-size: 23px;
    letter-spacing: 3px;
}

#SpringSteward_mid_img {
    margin-top: 60px;
    text-align: center;
}

/*#SpringSteward_cat_img {
    position: absolute;
    margin-top: 88px;
    margin-left: 183px;
}*/

#SpringSteward_sub_topic {
    position: relative;
    font-size: 28px;
    margin-top: 80px;
    letter-spacing: 3px;
    text-align: center;
}



