
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>后台管理 - XiChao Admin</title>

	<meta name="description" content="User login page" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static',filename='assets/font-awesome/4.1.0/css/font-awesome.min.css')}}" />
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/jquery-ui.min.css')}}" />

	<!-- text fonts -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/fonts/fonts.googleapis.com.css')}}" />

	<!-- ace styles -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace.min.css')}}" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="assets/css/ace-part2.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace-rtl.min.css')}}" />
	<script src="{{url_for('static',filename='assets/js/jquery.2.1.1.min.js')}}"></script>

 
<!--[if lte IE 9]>
	<link rel="stylesheet" href="assets/css/ace-part2.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace-skins.min.css')}}" />
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace-rtl.min.css')}}" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script src="{{url_for('static',filename='assets/js/ace-extra.min.js')}}"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default">
<script type="text/javascript">
	try{ace.settings.check('navbar' , 'fixed')}catch(e){}
</script>

<div class="navbar-container" id="navbar-container">
<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
	<span class="sr-only">Toggle sidebar</span>

	<span class="icon-bar"></span>

	<span class="icon-bar"></span>

	<span class="icon-bar"></span>
</button>

<div class="navbar-header pull-left">
	<a href="../admin/" class="navbar-brand">
		<small>
			<i class="fa fa-leaf"></i>
			曦潮 后台管理
		</small>
	</a>
</div>

<div class="navbar-buttons navbar-header pull-right" role="navigation">
<ul class="nav ace-nav">

<li class="light-blue">
	<a data-toggle="dropdown" href="#" class="dropdown-toggle">
		
								<span class="user-info">
									<small>欢迎,</small>
									曦潮
								</span>

		<i class="ace-icon fa fa-caret-down"></i>
	</a>

	<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
		<li>
			<a href="#">
				<i class="ace-icon fa fa-cog"></i>
				Settings
			</a>
		</li>

		<li>
			<a href="profile.html">
				<i class="ace-icon fa fa-user"></i>
				Profile
			</a>
		</li>

		<li class="divider"></li>

		<li>
			<a href="./logout/">
				<i class="ace-icon fa fa-power-off"></i>
				Logout
			</a>
		</li>
	</ul>
</li>
</ul>
</div>
</div><!-- /.navbar-container -->
</div>

<div class="main-container" id="main-container">
<script type="text/javascript">
	try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>

<div id="sidebar" class="sidebar responsive">
<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
		<button class="btn btn-success">
			<i class="ace-icon fa fa-signal"></i>
		</button>

		<button class="btn btn-info">
			<i class="ace-icon fa fa-pencil"></i>
		</button>

		<button class="btn btn-warning">
			<i class="ace-icon fa fa-users"></i>
		</button>

		<button class="btn btn-danger">
			<i class="ace-icon fa fa-cogs"></i>
		</button>
	</div>

	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
		<span class="btn btn-success"></span>

		<span class="btn btn-info"></span>

		<span class="btn btn-warning"></span>

		<span class="btn btn-danger"></span>
	</div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
<li class="active">
	<a href="./">
		<i class="menu-icon fa fa-tachometer"></i>
		<span class="menu-text"> 控制台 </span>
	</a>

	<b class="arrow"></b>
</li>



<li class="">
	<a href="./column/">
		<i class="menu-icon fa fa-list"></i>
		<span class="menu-text"> 栏目管理</span>		
	</a>
</li>

<li class="">
	<a href="#" class="dropdown-toggle">
		<i class="menu-icon fa fa-file-o"></i>
		<span class="menu-text"> 文章管理</span>

		<b class="arrow fa fa-angle-down"></b>
	</a>

	<b class="arrow"></b>
	<ul class="submenu">
		{%for key,value in article_category.items()%}
		<li class="">
			<a href="./post/category/{{key}}">
				<i class="menu-icon fa fa-caret-right"></i>
				{{value}}
			</a>

			<b class="arrow"></b>
		</li>
		{%endfor %}
		
	</ul>
	
</li>
</ul><!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>
</div>

<div class="main-content">
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Dashboard</li>
	</ul><!-- /.breadcrumb -->

	<div class="nav-search" id="nav-search">
		<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
		</form>
	</div><!-- /.nav-search -->
</div>

<div class="page-content">
<div class="page-content-area">
<div class="page-header">
	<h1>
		控制台
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			overview &amp; status
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
<div class="col-xs-12">
<!-- PAGE CONTENT BEGINS -->




<div class="row">
<div class="col-sm-6">
		<h3 class="header blue lighter smaller">
			<i class="ace-icon fa fa-list smaller-90"></i>
			栏目简述
		</h3>

		<div id="accordion" class="accordion-style2">
			{% for key,value in column_description.items() %}
			<div class="group">
				
				<h3 class="accordion-header">{{article_category[key]}}</h3>

				<div>
					<p>
						{{value}}
					</p>
				</div>
			</div>
			{% endfor %}

		</div><!-- #accordion -->


	</div><!-- ./span -->
</div><!-- /.row -->




<div class="hr hr32 hr-dotted"></div>



<!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.page-content-area -->
</div><!-- /.page-content -->
</div><!-- /.main-content -->

<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">XICHAO</span>
							 &copy; 2013-2014
						</span>

			&nbsp; &nbsp;
						
		</div>
	</div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
	<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="{{url_for('static',filename='assets/js/jquery.2.1.1.min.js')}}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='{{url_for('static',filename='assets/js/jquery.mobile.custom.min.js')}}'>"+"<"+"/script>");
</script>
<script src="{{url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.ui.touch-punch.min.js')}}"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="{{url_for('static',filename='assets/js/jquery-ui.custom.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.ui.touch-punch.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.easypiechart.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.sparkline.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/flot/jquery.flot.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/flot/jquery.flot.pie.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/flot/jquery.flot.resize.min.js')}}"></script>

<!-- ace scripts -->
<script src="{{url_for('static',filename='assets/js/ace-elements.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/ace.min.js')}}"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">

jQuery(function($) {
//jquery accordion
	$( "#accordion" ).accordion({
		collapsible: true ,
		heightStyle: "content",
		animate: 250,
		header: ".accordion-header"
	}).sortable({
		axis: "y",
		handle: ".accordion-header",
		stop: function( event, ui ) {
			// IE doesn't register the blur when sorting
			// so trigger focusout handlers to remove .ui-state-focus
			ui.item.children( ".accordion-header" ).triggerHandler( "focusout" );
		}
	});

	

	


	$('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
	function tooltip_placement(context, source) {
		var $source = $(source);
		var $parent = $source.closest('.tab-content')
		var off1 = $parent.offset();
		var w1 = $parent.width();

		var off2 = $source.offset();
		//var w2 = $source.width();

		if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
		return 'left';
	}


	$('.dialogs,.comments').ace_scroll({
		size: 300
	});


	//Android's default browser somehow is confused when tapping on label which will lead to dragging the task
	//so disable dragging when clicking on label
	var agent = navigator.userAgent.toLowerCase();
	if("ontouchstart" in document && /applewebkit/.test(agent) && /android/.test(agent))
		$('#tasks').on('touchstart', function(e){
			var li = $(e.target).closest('#tasks li');
			if(li.length == 0)return;
			var label = li.find('label.inline').get(0);
			if(label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation() ;
		});

	$('#tasks').sortable({
				opacity:0.8,
				revert:true,
				forceHelperSize:true,
				placeholder: 'draggable-placeholder',
				forcePlaceholderSize:true,
				tolerance:'pointer',
				stop: function( event, ui ) {
					//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
					$(ui.item).css('z-index', 'auto');
				}
			}
	);
	$('#tasks').disableSelection();
	$('#tasks input:checkbox').removeAttr('checked').on('click', function(){
		if(this.checked) $(this).closest('li').addClass('selected');
		else $(this).closest('li').removeClass('selected');
	});
	


	//show the dropdowns on top or bottom depending on window height and menu position
	$('#task-tab .dropdown-hover').on('mouseenter', function(e) {
		var offset = $(this).offset();

		var $w = $(window)
		if (offset.top > $w.scrollTop() + $w.innerHeight() - 100)
			$(this).addClass('dropup');
		else $(this).removeClass('dropup');
	});

})
</script>
</body>
</html>
