 <!doctype html>

 <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>Uploaded data</title>
</head>
<body>
    <h1>id:"{{tid}}"</h1>
    
      <p>
	      <h1>path:
          <pre>{{image_path}}</pre> 
          </h1>
          <h1>title:
          <pre>{{title}}</pre> 
          </h1>
          <br/>
          <h1>description:
          <pre>{{description}}</pre> 
          </h1>
          <br/>
          <h1>text:
          <pre>{{text}}</pre>
          </h1> 
          <br/>
          <br/>
      </p>
	  <a href="../upload">to upload page</a>
</body>

   </html> 
    

