
<!DOCTYPE html>
<html lang="en"><head>
    <title>New post</title>
	<meta name="description" content="demo of simple Flask Blog ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
	<link href="/recent_feed" rel="alternate" title="Recent Changes" type="application/atom+xml">
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">

	<link href="../static/css/mdmagick.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="../static/img/favicon.png"><link href="../static/css/main.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/gh-fork-ribbon.css" />
	<script src="../static/bower_components/platform/platform.js"></script>
	<script src="../static/bower_components/polymer/polymer.js"></script>
	   <script src="../static/ckeditor/ckeditor.js"></script>
	<link rel="import" href="../static/bower_components/github-gist/github-gist.html">
</head><body>
		<div id="wrapper"><div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li><a href="/" class="navbar-brand">Home</a></li>
		
			<li><a href="admin/logout">Logout</a></li>
		
		</ul>

		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse" id="navbar-main">
		<ul class="nav navbar-nav">
		
		
			<li><a href="/users">Users</a></li>
			<li><a href="/posts_list">Posts</a></li>
			<li><a href="/newpost">New post</a></li>
			<li><a href="/settings">Settings</a></li>
		
		</ul>
		<form class="navbar-form navbar-right search-form" method="post" action="/search">
            <input type="text" name="query" class="form-control col-lg-8" placeholder="Search">
			<input name="_csrf_token" type="hidden" value="DROXP2">
		</form>
	</div>
</div><div class="container">
		
		
		
		
	

	<div class="post clearfix">
		<div class="row">
			<div class="col-lg-8">
				<div class="page-header">
					<h1>New post</h1>
				</div>
				<div class="content">


					<form id="post-form" role="form" method="post" enctype=multipart/form-data action="">
						<div class="form-group "><input type="text" class="form-control" name="post-title" id="post-title" placeholder="Post Title" value="" required>
					    </div>

					     <div>
					     <br />
					     <h3>选择列表缩略图:</h3><br />
					     <input type=file name=image >
					    
						</div><br />
						<div class="form-group "><textarea id="post-full" name="post-full" class="form-control" rows="6" placeholder="Full Text" required></textarea>
					    </div>
						
						<div class="form-group">
							
						    <input id="post-submit" type="submit" class="btn btn-primary" value="Submit">
							<input id="post-preview" type="submit" class="btn" value="Preview">
					    </div>
					</form>
					{%if error %}
					{{error}}
					{%endif%}
				</div>
			</div>
		</div>
	</div>
			</div>
		</div>
<script type="text/javascript">

 
  CKEDITOR.replace( 'post-full', {
        
       customConfig: '../static/ckeditor/config.js'
      });



</script>
	</body>
</html>