

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>后台管理 - XiChao Admin</title>

	<meta name="description" content="Static &amp; Dynamic Tables" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}" />
	<link rel="stylesheet" href="{{url_for('static',filename='assets/font-awesome/4.1.0/css/font-awesome.min.css')}}" />

	<!-- page specific plugin styles -->

	<!-- text fonts -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/fonts/fonts.googleapis.com.css')}}" />

	<!-- ace styles -->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace.min.css')}}" id="main-ace-style" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="assets/css/ace-part2.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace-skins.min.css')}}" />
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace-rtl.min.css')}}" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script src="{{url_for('static',filename='assets/js/ace-extra.min.js')}}"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->

<body class="no-skin">
<div id="navbar" class="navbar navbar-default">
<script type="text/javascript">
	try{ace.settings.check('navbar' , 'fixed')}catch(e){}
</script>

<div class="navbar-container" id="navbar-container">
<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
	<span class="sr-only">Toggle sidebar</span>

	<span class="icon-bar"></span>

	<span class="icon-bar"></span>

	<span class="icon-bar"></span>
</button>

<div class="navbar-header pull-left">
	<a href="#" class="navbar-brand">
		<small>
			<i class="fa fa-leaf"></i>
			Xichao Admin
		</small>
	</a>
</div>

<div class="navbar-buttons navbar-header pull-right" role="navigation">
<ul class="nav ace-nav">
<li class="light-blue">
	<a data-toggle="dropdown" href="#" class="dropdown-toggle">
		<span class="user-info">
									<small>Welcome,</small>
									xichao
								</span>
		<i class="ace-icon fa fa-caret-down"></i>
	</a>

	<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
		<li>
			<a href="#">
				<i class="ace-icon fa fa-cog"></i>
				Settings
			</a>
		</li>

		<li>
			<a href="profile.html">
				<i class="ace-icon fa fa-user"></i>
				Profile
			</a>
		</li>

		<li class="divider"></li>

		<li>
			<a href="#">
				<i class="ace-icon fa fa-power-off"></i>
				Logout
			</a>
		</li>
	</ul>
</li>
</ul>
</div>
</div><!-- /.navbar-container -->
</div>

<div class="main-container" id="main-container">
<script type="text/javascript">
	try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>

<div id="sidebar" class="sidebar                  responsive">
<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
		<button class="btn btn-success">
			<i class="ace-icon fa fa-signal"></i>
		</button>

		<button class="btn btn-info">
			<i class="ace-icon fa fa-pencil"></i>
		</button>

		<button class="btn btn-warning">
			<i class="ace-icon fa fa-users"></i>
		</button>

		<button class="btn btn-danger">
			<i class="ace-icon fa fa-cogs"></i>
		</button>
	</div>

	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
		<span class="btn btn-success"></span>

		<span class="btn btn-info"></span>

		<span class="btn btn-warning"></span>

		<span class="btn btn-danger"></span>
	</div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
<li class="">
	<a href="../../">
		<i class="menu-icon fa fa-tachometer"></i>
		<span class="menu-text"> 控制台 </span>
	</a>

	<b class="arrow"></b>
</li>



<li class="">
	<a href="#" class="dropdown-toggle">
		<i class="menu-icon fa fa-tag"></i>
		<span class="menu-text">文章管理</span>

		<b class="arrow fa fa-angle-down"></b>
	</a>

	<b class="arrow"></b>
	<ul class="submenu">
		<li class="">
			<a href="../nanyang/">
				<i class="menu-icon fa fa-caret-right"></i>
				0.48南洋荐书
			</a>

			<b class="arrow"></b>
		</li>

		<li class="">
			<a href="../shuzhi/">
				<i class="menu-icon fa fa-caret-right"></i>
				树枝态度
			</a>

			<b class="arrow"></b>
		</li>

		<li class="">
			<a href="../shishu/">
				<i class="menu-icon fa fa-caret-right"></i>
				嗜书瘾君子
			</a>

			<b class="arrow"></b>
		</li>

		<li class="">
			<a href="../qiuqiu/">
				<i class="menu-icon fa fa-caret-right"></i>
				一只球球
			</a>

			<b class="arrow"></b>
		</li>

		<li class="">
			<a href="../wendu/">
				<i class="menu-icon fa fa-caret-right"></i>
				曦潮温度
			</a>

			<b class="arrow"></b>
		</li>
	</ul>
</li>
	
</li>
</ul><!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>
</div>

<div class="main-content">
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>

		<li>
			<a href="#">文章管理</a>
		</li>
		<li class="active">{{column}}</li>
	</ul><!-- /.breadcrumb -->

	<div class="nav-search" id="nav-search">
		<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
		</form>
	</div><!-- /.nav-search -->
</div>

<div class="page-content">



<div class="row">
<div class="col-xs-12">
<h3 class="header smaller lighter blue">{{column}}</h3>

											<a href="./new">
											<button class="btn btn-info">
												<i class="ace-icon fa fa-pencil"></i>
											</button>
											</a>
												
											<br />
											<br />

<div class="table-header">
	文章列表
</div>
<!-- <div class="table-responsive"> -->
<!-- <div class="dataTables_borderWrap"> -->
<div>
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
<thead>
<tr>
	<th>文章ID</th>
	<th>文章标题</th>
	<th class="hidden-480">评论数</th>
	<th>
		<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
		更新时间
	</th>

	<th>操作</th>
</tr>
</thead>

<tbody>
<script>
function del(idNum) {      
	var id=document.getElementById(idNum).innerHTML;
	// alert(id);  
    var temp = document.createElement("form");  
    //alert("{{url}}")      
    temp.action = "/admin/post/{{url}}/";        
    temp.method = "post";        
    temp.style.display = "none";        
    // for (var x in PARAMS) {        
    //     var opt = document.createElement("textarea");        
    //     opt.name = x;        
    //     opt.value = PARAMS[x];        
    //     // alert(opt.name)        
    //     temp.appendChild(opt);        
    // }     
    var opt = document.createElement("textarea");
    opt.name = "id";
    opt.value = id;
    temp.appendChild(opt);
    document.body.appendChild(temp);        
    temp.submit();        
    return temp;        
}        
</script>

{%for post in posts %}

	
<tr>	
	<td>
		{{loop.index}}
	</td>
	<td><a href="../../../mobile/article/{{post["id"]}}">{{post["title"]}}</a></td>
	<td class="hidden-480">none</td>
	<td>{{post["posttime"]}}</td>


		<td>
		<div class="hidden-sm hidden-xs action-buttons">
		<i style="visibility:hidden;" id="{{loop.index}}">
		{{post["id"]}}
	</i>
			<a class="blue" href="#">
				<i class="ace-icon fa fa-search-plus bigger-130"></i>
			</a>

			<a class="green" href="./edit/{{post["id"]}}">
				<i class="ace-icon fa fa-pencil bigger-130"></i>
			</a>

			
				<a class="red" data-toggle="modal" href="#myModal" >
					<i class="ace-icon fa fa-trash-o bigger-130"></i>
				</a>
		</div>

		
	</td>
</tr>

   
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"style="top:20%;padding:5% 20%;">
   <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="myModalLabel">删除确认</h3>
    </div>
    <div class="modal-body">
      <p>确定要删除吗？</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal">取消</button>
      <button class="btn btn-primary" data-dismiss="modal" onclick="del({{loop.index}})">确定</button>
    </div>
      </div>
 </div>

  {% endfor %}
</tbody>
</table>
</div>
</div>
</div>

</div><!-- /.row -->
</div><!-- /.page-content-area -->
</div><!-- /.page-content -->
</div><!-- /.main-content -->

<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">XICHAO</span>
							 &copy; 2013-2014
						</span>

			&nbsp; &nbsp;
						
		</div>
	</div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
	<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="{{url_for('static',filename='assets/js/jquery.2.1.1.min.js')}}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='{{url_for('static',filename='assets/js/jquery.mobile.custom.min.js')}}'>"+"<"+"/script>");
</script>
<script src="{{url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>

<!-- page specific plugin scripts -->
<script src="{{url_for('static',filename='assets/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.dataTables.bootstrap.js')}}"></script>

<!-- ace scripts -->
<script src="{{url_for('static',filename='assets/js/ace-elements.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/ace.min.js')}}"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
	jQuery(function($) {
		var oTable1 =
				$('#sample-table-1')
					//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
						.dataTable( {
							bAutoWidth: false,
							"aoColumns": [
								{ "bSortable": false },
								
								{ "bSortable": false }
							],
							"aaSorting": [],
							//,
							//"sScrollY": "200px",
							//"bPaginate": false,
							//"sScrollX": "100%",
							//"sScrollXInner": "120%",
							//"bScrollCollapse": true,
							//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
							//you may want to wrap the table inside a "div.dataTables_borderWrap" element
							//"iDisplayLength": 50
						} );
		/**
		 var tableTools = new $.fn.dataTable.TableTools( oTable1, {
					"sSwfPath": "../../copy_csv_xls_pdf.swf",
			        "buttons": [
			            "copy",
			            "csv",
			            "xls",
						"pdf",
			            "print"
			        ]
			    } );
		 $( tableTools.fnContainer() ).insertBefore('#sample-table-2');
		 */
		$(document).on('click', 'th input:checkbox' , function(){
			var that = this;
			$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
		});
		$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('table')
			var off1 = $parent.offset();
			var w1 = $parent.width();
			var off2 = $source.offset();
			//var w2 = $source.width();
			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			return 'left';
		}
	})
</script>
</body>
</html>
