<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.5)">
		<meta http-equiv="Page-Exit" content="revealtrans(duration=6.0, transition=23)">
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		   <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.mobile-1.4.4.min.css')}}">
    	<script src="{{url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
    	<script src="{{url_for('static',filename='js/jquery.mobile-1.4.4.min.js')}}"></script>
		<link rel="stylesheet" href="{{url_for('static',filename='css/welcome.css')}}" >
		<script type="text/javascript">
		// $(document).ready(function(){  
		// 			document.all("page1").style["width"]=document.body.clientWidth;
		// 			document.all("page1").style["height"]=document.body.clientHeight;
		// 			return;  
		// 		}) 
		function fade(id)
		{
			$("body").fadeOut(2000);
			setTimeout(function(){self.location.href="/mobile/list/category/"+id;}, 1000);
				
		}
		
		</script>
		<title>曦潮书店</title>
	</head>
	<body>
	<div data-role="page" id="page1" style="position:relative;padding:0px;text-shadow: 0 0px;" >
		<div data-role="content"  style="padding:0px;">
			
			<div id="logo">
				<span ><img  src="./static/image/welcome/logo.png"></span>
				<p id="up"><span>曦潮书店</span></p>
				<p id="down"><span>人文生活的常态</span></p>
			</div>
			<div id="vein"></div>
			<img id="bg" src="./static/image/welcome/bg.jpg">
			<img id="slg" src="./static/image/welcome/slg.png">
			<div class="text">
				{%for key,value in article_category.items() %}
				<div onclick="fade({{key}})" style="text-align:center;">
					<h1>{{value}}</h1>
					<p>{{column_description[key]}}</p>
				</div>
					{%endfor%}
				

			</div>
		</div>
    </div>
	</body>
</html>